<div id="modal-grid" class="modal hide fade" style="display: none; ">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <ul class="nav nav-pills">
      <li id="gridnew" class="active"><a href="#">Purchase New Nodes</a></li>
      <li id="gridexist"><a href="#">Add Existing Nodes</a></li>
    </ul>
  </div>
  <form id="form-gridnew" class="form-horizontal" method="post" action="/grid" enctype="multipart/form-data">
    <input id="tokentag" type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
    <input name="_method" type="hidden" value="post" />   
    <div class="modal-body"> 
      <div class="gridnew">
        <div class="control-group">
          <div class="control-group">
            <label class="control-label">Quantity</label>
            <div class="controls">
              <input id="quantity" name="quantity" type="text" placeholder="Number of grid nodes to start">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">Location</label>
            <div class="controls">
              <label class="radio">
                <input type="radio" name="location" value="us-east-1" disabled>
                <%= image_tag "aws.png", :rel => "tooltip", :title => 'AWS' %> US East (Northern Virginia)
              </label>
              <label class="radio">
                <input type="radio" name="location" value="us-west-1" disabled>
                <%= image_tag "aws.png", :rel => "tooltip", :title => 'AWS' %> US West (Oregon)
              </label>
              <label class="radio">
                <input type="radio" name="location" value="us-west-2" disabled>
                <%= image_tag "aws.png", :rel => "tooltip", :title => 'AWS' %> US West (Northern California)
              </label>
              <label class="radio">
                <input type="radio" name="location" value="eu-west-1" disabled>
                <%= image_tag "aws.png", :rel => "tooltip", :title => 'AWS' %> EU (Ireland)
              </label>
              <label class="radio">
                <input type="radio" name="location" value="ap-southeast-1" checked>
                <%= image_tag "aws.png", :rel => "tooltip", :title => 'AWS' %> Asia Pacific (Singapore)
              </label>
              <label class="radio">
                <input type="radio" name="location" value="ap-northeast-1" disabled>
                <%= image_tag "aws.png", :rel => "tooltip", :title => 'AWS' %> Asia Pacific (Tokyo)
              </label>
              <label class="radio">
                <input type="radio" name="location" value="sa-east-1" disabled>
                <%= image_tag "aws.png", :rel => "tooltip", :title => 'AWS' %> South America (Sao Paulo)
              </label>
            </div>
          </div>

        </div>
      </div>
    </form>
    <form id="form-gridexist" class="form-horizontal" method="post" action="/nodes/slave" enctype="multipart/form-data">
      <input id="tokentag" type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <input name="_method" type="hidden" value="post" /> 
      <div class="gridexist" style="display: none;">
        <div class="control-group">
          <div class="control-group">
            <label class="control-label">Slave</label>
            <div class="controls">
              <input id="slave" name="slave" type="text" placeholder="Add existing slave node IP">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="modal-footer">     
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-gridnew btn-success">Start Nodes</a>
    <a href="#" class="btn btn-gridexist btn-success" style="display: none;">Add Node</a>
  </div>
</div>