<table class="nodes-table table">
  <tbody>
    <% unless @nodes.blank? %>     
      <% @nodes.each do |node| %>
        <tr>
          <td>
            <input type="checkbox" name="nodes[]" value="<%= node.host %>" <%= 'checked="true"' unless node.role == 'master' %> <%= 'disabled' if node.role == 'master' %>>
          </td>
          
          <td>
            <% if node.user_id && node.user_id > 0 %>
              <i class="icon-lock" title="Private node" rel="tooltip"></i>
            <% else %>
              <i class="icon-unlock" title="Public node" rel="tooltip"></i>
            <% end %>
            <a href="http://<%= node.host %>/dashboard"><%= node.host %></a>
          </td>

          <td>
            <script>
              $.ajax({
                url: "http://<%= node.host %>:<%= request.port %>/health",
                timeout: 4000
              }).done(function(data) {
                $('.node-role[data-host="<%= node.host %>"]').attr('title', $.parseJSON(data.responseText).services);
              }).fail(function(data) {
                $('.node-role[data-host="<%= node.host %>"]').addClass('label-important').attr('title', $.parseJSON(data.responseText).services);
              });
            </script>
          </td>

          <td>
            <span data-use="<%= node.user_id && node.user_id > 0 ? 'private' : 'public' %>" data-host="<%= node.host %>" data-port="<%= request.port %>" data-role="<%= node.role %>" data-master="<%= node.master %>" class="label node-role pull-right" rel="tooltip" data-toggle="modal" href="#modal-node" style="cursor:pointer;">
              <%= node.role %>
            </span>
          </td>

        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<script>
$(function(){
  $(".nodes-table").tablesorter({headers: {0: {sorter: 'fancyNumber'}}});
});
</script>