<div id="modal-node" class="modal hide fade" style="display: none; ">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <ul class="nav nav-pills">
      <li id="nodeconfig" class="active"><a href="#">Node Configuration</a></li>
      <li id="nodestats"><a href="#">Node Statistics</a></li>
    </ul>
  </div>
  <form id="form-nodeconfig" class="form-horizontal" method="post" action="/nodes/<%= @node.host %>" enctype="multipart/form-data">
    <input id="tokentag" type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
    <input name="_method" type="hidden" value="put" />   
    <div class="modal-body"> 
      <div class="nodeconfig">
        <div class="control-group">
          <div class="control-group">
            <label class="control-label">Host</label>
            <div class="controls">
              <input id="owner" type="hidden" />
              <input id="host" class="input-xlarge" type="text" value="<%= @node.host %>" disabled />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Role</label>
            <div class="controls">
              <label class="radio">
                <input type="radio" name="role" value="standalone" <%= 'disabled' unless admin_user? %>>
                Run this as a standalone node.
              </label>
              <label class="radio">
                <input type="radio" name="role" value="master" <%= 'disabled' unless admin_user? %>>
                Run this as a <abbr title="A master node can control many slave nodes.">master</abbr> node.
              </label>
              <label class="radio">
                <input type="radio" name="role" value="slave" <%= 'disabled' unless admin_user? %>>
                Run this as a <abbr title="You must provide the IP of the master node to slave to.">slave</abbr> node.
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Use</label>
            <div class="controls">
              <label class="radio">
                <input type="radio" name="use" value="public" <%= 'disabled' unless admin_user? %>>
                Run this a <abbr title="Public nodes are free for anyone to use.">public</abbr> node.
              </label>
              <label class="radio">
                <input type="radio" name="use" value="private" <%= 'disabled' unless admin_user? %>>
                Run this a <abbr title="Private nodes are for your use only.">private</abbr> node.
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">Master Node</label>
            <div class="controls">
              <input id="master" name="master" type="text" placeholder="Master Node IP" <%= 'disabled' unless admin_user? %>>
            </div>
          </div>
        </div>
      </div>
      <div class="nodestats" style="display: none;">
        <span class="nodestats-health"></span>
        <span class="nodestats-started"></span>
        <span class="nodestats-stopped"></span>
        <span class="nodestats-duration"></span>
      </div> 
    </div>
  </form>
  <div class="modal-footer">     
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <% if admin_user? %>
      <a href="#" class="btn-nodedelete btn btn-danger">Delete</a>
      <a href="#" class="btn-nodeupdate btn btn-success">Update & Restart</a>
    <% end %>
  </div>
</div>