<table class="nodes-table table">
  <tbody>
    <% unless @nodes.blank? %>     
      <% @nodes.each do |node| %>
        <tr>
          <td>
            <input type="checkbox" name="nodes[]" value="<%= node.host %>" <%= 'checked="true"' unless node.role == 'master' %> <%= 'disabled' if node.role == 'master' %>>
          </td>
          
          <td>
            <%= image_tag get_flag(node), :rel => "tooltip", :title => node.location %>
            <% if node.user_id && node.user_id > 0 %>
              <i class="icon-eye-close" title="This node is private" rel="tooltip"></i>
            <% else %>
              <i class="icon-eye-open" title="This node is public" rel="tooltip"></i>
            <% end %>
            <a href="http://<%= node.host %>/dashboard"><%= node.host %></a>
          </td>

          <td>
            <script>
              $.ajax({
                url: "http://<%= node.host %>:<%= request.port %>/health",
                timeout: 4000
              }).done(function(data) {
                $('.node-role[data-host="<%= node.host %>"]').attr('title', data.services);
                $('.node-role[data-host="<%= node.host %>"]').attr('data-started', data.started);
                $('.node-role[data-host="<%= node.host %>"]').attr('data-duration', data.duration);
                $('.node-role[data-host="<%= node.host %>"]').attr('data-cost', data.cost);
                $('.node-role[data-host="<%= node.host %>"]').attr('data-status', 'healthy');
              }).fail(function(jqXHR, status) {
                data = $.parseJSON(jqXHR.responseText);
                $('.node-role[data-host="<%= node.host %>"]').addClass('label-important').attr('title', data.services);
                $('.node-role[data-host="<%= node.host %>"]').attr('data-started', data.started);
                $('.node-role[data-host="<%= node.host %>"]').attr('data-duration', data.duration);
                $('.node-role[data-host="<%= node.host %>"]').attr('data-cost', data.cost);
                $('.node-role[data-host="<%= node.host %>"]').attr('data-status', status);
              });
            </script>
          </td>

          <td>
            <span data-use="<%= node.user_id && node.user_id > 0 ? 'private' : 'public' %>" data-host="<%= node.host %>" data-port="<%= request.port %>" data-role="<%= node.role %>" data-master="<%= node.master %>" class="label node-role pull-right" rel="tooltip" data-toggle="modal" href="#modal-node" style="cursor:pointer;">
              <%= node.role %>
            </span>
          </td>

        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<script>
$(function(){
  $(".nodes-table").tablesorter({headers: {0: {sorter: 'fancyNumber'}}});
});
</script>