<div id="supportmodal" class="modal hide fade" style="display: none; ">
  <div>
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <ul class="nav nav-pills">
        <li id="support" class="active"><a href="#">Contact Support</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Knowledge Base <b class="caret"></b></a>
          <ul id="knowledge" class="dropdown-menu">
            <li><a href="/articles/1_1_overview_features.html">Overview & Features</a></li>
            <li><a href="/articles/1_2_getting_started.html">Getting Started</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="modal-body">

      <div class="support">
        <form id="form-support" method="post" action="/support" enctype="multipart/form-data" class="form-horizontal">
          <input id="tokentag" type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
          <div class="control-group">
            <div class="controls">
              <input type="text" class="input-xlarge" id="subject" name="subject" placeholder="Message subject">
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <textarea class="input-xlarge" id="textarea" id="details" name="details" rows="5" placeholder="How can we help you?"></textarea>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <input type="text" class="input-xlarge" id="email" name="email" placeholder="Your email address">
            </div>
          </div>
        </form>
      </div>

      <div class="knowledge" style="display: none;">
        
      </div>
      
    </div>

    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      <% if user_signed_in? %>
        <a id="runtest" href="#" class="btn btn-success">Send Message</a>
      <% else %>
        <a href="#" class="btn disabled" data-dismiss="modal"><i class="icon-lock"></i> Please sign in</a>
      <% end %>
    </div>
  </div>
    <script>
    $("#form-basic").validate({
      rules: {
        url: {
          required: true,
          url: true
        },
        threads: {
          required: true,
          max: <%= threads_limit %>
        },
        rampup: {
          required: true,
          max: <%= rampup_limit %>
        },
        duration: {
          required: true,
          max: <%= duration_limit %>
        },
        "nodes[]": { 
          required: true, 
          minlength: 1 
        }
      },
      messages: { 
        url: "You must provide a valid URL", 
        threads: "You are limited to <%= threads_limit %> concurrent threads for your account",
        rampup: "You are limited to <%= rampup_limit %> seconds rampup for your account",
        duration: "You are limited to <%= duration_limit %> seconds duration for your account",
        "nodes[]": "Please select at least one grid node."
      }
    });
  </script>

</div>