<div class="secondary-masthead">  
  <div class="container">    
    <ul class="breadcrumb">
      <a href="/dashboard">Dashboard</a> <span class="divider">/</span>
      <li class="active">Payments</li>
     </ul> 
  </div> 
</div>

<div class="main-area dashboard">
  <div class="container">

    <% if flash[:alert] %>
      <div class="alert alert-error">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading">Error</h4>
        <%= flash[:alert] %>
      </div>
    <% elsif flash[:notice] %>
      <div class="alert alert-success">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading">Notice</h4>
        <%= flash[:notice] %>
      </div>
    <% else %>
      <div class="alert alert-info">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading">Payment Information</h4>
        Changes to this payment information will apply to your Gridinit account and will affect your future purchases of grid node hours. For security, we do not store your credit/debit card information and use a secure payment gateway protected by industry standard measures for payment processing.
      </div>
    <% end %>
    <div class="row"> 
      <div class="span12">
        <div class="slate">
          <div class="page-header">
            <h2>Payment Details</h2>
          </div>
          <form id="form-payments" class="form-horizontal" method="post" action="/payments" enctype="multipart/form-data">
            <input id="tokentag" type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
            <input name="_method" type="hidden" value="post" />   
            <div class="control-group">
              <label class="control-label"><%= image_tag "visa_mastercard_logo.gif", :height=> "20" %></label>
              <div class="controls">
                <input id="cardnumber" class="input-xlarge" type="text" placeholder="Debit / Credit Card Number" />
                <input id="cvv" class="input-small" type="text" placeholder="Security Code" />
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Card Holder</label>
              <div class="controls">
                <input id="cardholder" class="input-xlarge" type="text" placeholder="Card Holder Name" />
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Expires</label>
              <div class="controls">
                <select id="expirationMonth" class="input-small">
                  <option value="0">Month</option>
                  <% 1.upto 12 do |i| %>
                    <option value="<%= i %>"><%= i %></option>
                  <% end %>
                </select> <select id="expirationYear" class="input-small">
                  <option value="0">Year</option>
                  <% 2012.upto 2031 do |i| %>
                    <option value="<%= i %>"><%= i %></option>
                  <% end %>
                </select>
              </div>
            </div>
             <div class="control-group">
              <div class="controls">
                <p><a href="#" class="btn-payments btn btn-success">Save Details</a></p>
                <p>
                  Pay only for what you use. There is no minimum fee.  You pay for grid nodes by the hour with no long-term commitments. Grid nodes are charged at $3.99 per grid node per hour. Pricing is per grid node hour consumed for each grid node, from the time a node is launched until it is terminated by you. Each partial grid node hour consumed will be billed as a full hour. Grid node hours are invoiced daily and may take 48 hours to be be processed.
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$("#form-payments").validate({
  rules: {
    cardnumber: {
      required: true,
      creditcard: true
    },
    cvv: {
      required: true
    }
  }
  </script>
});